.icon-alert-off { background-image: url('png/alert-off.png'); background-repeat: no-repeat; }

.icon-alert { background-image: url('png/alert.png'); background-repeat: no-repeat; }

.icon-back { background-image: url('png/back.png'); background-repeat: no-repeat; }

.icon-bomb_bug { background-image: url('png/bomb_bug.png'); background-repeat: no-repeat; }

.icon-browsers { background-image: url('png/browsers.png'); background-repeat: no-repeat; }

.icon-call { background-image: url('png/call.png'); background-repeat: no-repeat; }

.icon-collapse-text { background-image: url('png/collapse-text.png'); background-repeat: no-repeat; }

.icon-collapse { background-image: url('png/collapse.png'); background-repeat: no-repeat; }

.icon-computer_imac { background-image: url('png/computer_imac.png'); background-repeat: no-repeat; }

.icon-computer_macintosh_vintage { background-image: url('png/computer_macintosh_vintage.png'); background-repeat: no-repeat; }

.icon-converse { background-image: url('png/converse.png'); background-repeat: no-repeat; }

.icon-conveyor { background-image: url('png/conveyor.png'); background-repeat: no-repeat; }

.icon-cubo-circle { background-image: url('png/cubo-circle.png'); background-repeat: no-repeat; }

.icon-cubo { background-image: url('png/cubo.png'); background-repeat: no-repeat; }

.icon-fg-logo { background-image: url('png/fg-logo.png'); background-repeat: no-repeat; }

.icon-ibook_laptop { background-image: url('png/ibook_laptop.png'); background-repeat: no-repeat; }

.icon-lamp { background-image: url('png/lamp.png'); background-repeat: no-repeat; }

.icon-laptop_macbook_streamline { background-image: url('png/laptop_macbook_streamline.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-macintosh { background-image: url('png/macintosh.png'); background-repeat: no-repeat; }

.icon-majestic { background-image: url('png/majestic.png'); background-repeat: no-repeat; }

.icon-npm-logo { background-image: url('png/npm-logo.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('png/plane.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

